@charset "utf-8";

body {
    background-color: white;
}

main {
    width: 800px;
    margin: auto;
    background-color: white;
}

header, #jatekter, footer {
    border: 2px solid black;
    border-radius: 16px;
}

header, footer {
    text-align: center;
}

header {
    padding-bottom: 20px;
}

#jatekter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#jatekter img {
    cursor: pointer;
    padding-left: 40px;
}